<div class="header">
    <label>
        
    </label>
    <label>
        
    </label>
    <label class="logo">
       <img src="../../../assets/logo.jpg"/>
    </label>
    <label>
        
    </label>
    <label>
        
    </label>
</div>

<!-- <div class="discord">
    <div href="https://discord.gg/5tzMYMXj">
        <label>
            JOIN NOW
        </label>
        <img src="https://uploads-ssl.webflow.com/626287a92e3a461ad38f0cc8/626287aa2e3a4617ed8f0cfb_discord.svg"/>
    </div>
</div> -->
