<!-- <app-header></app-header> -->

<div class="wrapper">
</div>
<div class="part-1" #part1>

    <div *ngIf="showPart1">
        <label>
            Are you ready for <br> the Doods Resort Club ?
        </label>
    </div>

</div>

<div class="part-2" #part2>
    <div class="title" *ngIf="showPart2">
        <label>
            INTRODUCING VACATIONS WITH <br> CRYPTO & NFT PAYMENTS
        </label>
    </div>
    <div class="subtitle" *ngIf="showPart2">
        <label>
            On our future platform, pick any <strong>Vacation/Hotel Resort</strong> from our current  <br>
            suppliers (partners) that you want to stay in - <strong>Egypt, Bali, Miami, Paris, etc</strong>.
        </label>
        <label>
            Pay with <strong>Solana</strong> or <strong>$DRC </strong> (Staking Token)
        </label>
        <label>
            Get your ticket as an <strong>NFT</strong> into your wallet
        </label>
        <label>
            And fly to enjoy your vacation !
        </label>
    </div>
</div>

<div class="part-3" #part3>
    <div class="title" *ngIf="showPart3">
        <label>
            LONG TERM ROADMAP
        </label>
    </div>
    <div class="subtitle" *ngIf="showPart3">
        <label>
            Creation of our own Vacation Agency - Our own transportation, contracts with hotel resorts all over the world, <br> contracts with airlines all over the world, our own hospitality service, and our own policlynics in most popular destination to ensure the safety of our travelers.
        </label>
        <label>
            We are aiming to be #1 as a Travel Agency in web3 & crypto, <br>
            providing users with high-quality vacations & flights at the best prices, offers & discount.
        </label>
    </div>
</div>
<div class="part-4" #part4>
    <div class="title" *ngIf="showPart4">
        <label>
            SHORT TERM ROADMAP
        </label>
    </div>
    <div class="subtitle" *ngIf="showPart4">
        <label>
            Partnering up with successful Vacation Agencies (Tez Tour, Novaturas).
        </label>
        <label>
            Once we gather big boy fund after The Mint, we will immedietly begin the expansion process.
        </label>
        <label>
            Offices to rent, people to hire, platform & websites to develop, contract to sign.
        </label>
        <label>
            For short term we will be opening up a platform, where you will be able to buy vacations with Solana, but as a re-selled product from already successful vacation agencies.
            That means there will be absolutly no trouble with hospitality from the start.
        </label>
        <label>
           97% of profits from re-selling will be re-invested into our Agency Development.
        </label>
    </div>

</div>
<div class="part-5" #part5>
    <div class="title" *ngIf="showPart5">
        <label>
            HOW ARE We GOING TO <br> ACCOMPLISH THE IDEA ?
        </label>
    </div>
    <div class="subtitle" *ngIf="showPart5">
        <label>
            We already see tons of problems to solve. Laws to overcome anf challenges to face.
        </label>
        <label>
            But don't think we can't. After our NFT side gets rolling, we will start doing raffles of vacations. Real. Vacations.
        </label>
        <label>
            We are going to be partnering up in short term with our fellow agencies:
        </label>
        <img src="../../../assets/agencies.png" style="width: 50%;"/>
    </div>
</div>

<div class="part-6" #part6>
    <div class="title" *ngIf="showPart6">
        <label>
            WHAT DO I GET FROM HOLDING ?
        </label>
    </div>
    <div class="subtitle" *ngIf="showPart6">
        <label>
            Generate passive income by "parking" your NFTs. <br>
            Parked NFTs will generate x $DRC / d.
        </label>
        <label>
            Our token $DRC will be used to buy real vacations at hotel resorts.
            claim rewards (such as summer shirts, sliders, sunglasses, etc...), join raffles & buy shares on our project.
        </label>
        <label>
            All used token will be instantly burned.
        </label>
        <label>
            We want our token as valuable and high cost as possible.
        </label>
        <label>
            Again we already see big problems to solve and challenges to overcome.
        </label>
        <label>
            But I'm gonna let you in on a little secret: <br>
            It's perfectly possible & will be done.
        </label>
    </div>
</div>

<!-- <div class="part-7">


</div>
<div class="part-8">


</div>

<div class="part-9">


</div>

<div class="part-10">


</div> -->

<div class="link">
    <div class="discord">
        <img src="https://uploads-ssl.webflow.com/626287a92e3a461ad38f0cc8/626287aa2e3a4617ed8f0cfb_discord.svg"/>
    </div>
    <div class="twitter">
        <img src="https://uploads-ssl.webflow.com/626287a92e3a461ad38f0cc8/626287aa2e3a4678be8f0d00_akar-icons_twitter-fill.svg"/>
    </div>
</div>
